@import "reset/reset";
@import (less) "~normalize.css";
@import "icon/icon";


p {
    color: blue;
}
.transformed {
    transform: scale(2);
    background-color: blue;
}

:fullscreen a {
    display: flex
}
ul {
    li {
        color: teal;
    }
}

